<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Golf Land</key>
	<array>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<real>2.5</real>
			<integer>3</integer>
			<integer>4</integer>
		</array>
		<array>
			<integer>2</integer>
			<real>3.95</real>
			<real>4.9</real>
		</array>
		<array>
			<integer>2</integer>
			<real>-2.5</real>
			<integer>3</integer>
			<real>-3.5</real>
			<integer>4</integer>
			<real>-4.5</real>
			<integer>5</integer>
			<real>5.5</real>
			<real>5.8</real>
		</array>
	</array>
</dict>
</plist>
